	ul.navbar-nav.mr-auto
		li.nav-item
			a.nav-link(href='/dashboard') Dashboard 
		li.nav-item
			a.nav-link(href='#') instellingen
		li.nav-item.active
			a.nav-link(href='/users') Profiel
		li.nav-item
			a.nav-link(href='/users/logout') Uitloggen
