	ul.nav.nav-pills.flex-column
					li.nav-item
						a.nav-link.active(href='/users')
							| Huidige gebruiker
					li.nav-item
						a.nav-link(href='/users/register')
							| Nieuwe gebruiker 
							span.sr-only (current)	
					li.nav-item
						a.nav-link(href='/users/reset')
							| Wachtwoord wijzigen
